upload/
.idea/workspace.xml
node_modules/

.idea/dictionaries/Erik.xml

.idea/encodings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/steemitgame-website.iml

.idea/vcs.xml
