.navbar-dark .navbar-nav .nav-link.router-link-exact-active {
  font-weight: bold;
  color: white;
}

#app .el-header {
  height: auto;
}

#app .el-main {
  padding: 0 20px;
}


.login-tip {
  display: flex;
  text-align: left;
}
